#overlay {
  background-color: black;
}

.cardsgallery_container {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -500px;
  left: 167px;
  z-index: 300;
  margin-bottom: 200px;
}
.img_show {
  display: block;
  position: relative;
  left: 39%;
  top: 35%;
  z-index: 600;
}
.img_hidden {
  display: none;
}
.gallery_image {
  z-index: 1000;
}
.gallery_item {
  opacity: 1;
}
.gallery_item:hover {
  opacity: 0.9;
}
