.table-btn-wrap {
  display: flex;
}
.table-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 700px;
}

.table-container > h1 {
  font-size: 48px;
  font-weight: 700;
  position: relative;
  bottom: 177px;
}

.table-container {
  position: absolute;
  bottom: -302px;
}
.btn-table {
  width: 370px;
  height: 49px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
.table-h1 {
  position: absolute;
  top: 20px;
}
.btnBackground {
  color: white;
  background-color: #75b5c3;
}
